<div class="panel panel-primary" ng-controller="payrollCtrl as vm">
    <div class="panel-heading" style="font-size: large;">
        Employee Payroll Details
    </div>
    <div class="panel-body">
        <div class="form-group">
            <label for="FirstName">FirstName</label>
            <input type="text" class="form-control" ng-model="vm.FirstName" />
        </div>
        <div class="form-group">
            <label for="LastName">LastName</label>
            <input type="text" class="form-control" ng-model="vm.LastName" />
        </div>
        <div class="form-group">
            <label for="AnnualSalary">AnnualSalary</label>
            <input type="text" class="form-control" ng-model="vm.AnnualSalary" />
        </div>
        <div class="form-group">
            <label for="SuperRate">SuperRate</label>
            <input type="text" class="form-control" ng-model="vm.SuperRate" />
        </div>
        <div class="form-group">
            <label for="StartDate">StartDate</label>
            <input type="text" class="form-control" ng-model="vm.StartDate" />
        </div>
        <div class="form-group">
            <label for="EndDate">EndDate</label>
            <input type="text" class="form-control" ng-model="vm.EndDate" />
        </div>
    </div>
</div>